<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul>
   <li><%= singleUser.id  %></li>
   <li><%= singleUser.first_name  %></li>
   <li><%= singleUser.last_name  %></li>
   <li><%= singleUser.company_name  %></li>
   <li><%= singleUser.city  %></li>
   <li><%= singleUser.state  %></li>
   <li><%= singleUser.zip  %></li>
   <li><%= singleUser.email  %></li>
   <li><%= singleUser.web  %></li>
   <li><%= singleUser.age  %></li> 
    </ul>
  </body>
</html>
